.button {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}
.button-light {
  color: var(--black);
}
.button-dark {
  color: var(--white);
}
.button-side-menu {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
img {
  margin-right: 10px;
  width: 20px;
}