.follow {
  font-weight: 600;
  width: 91%;
  height: 21%;
  border-radius: 15px;
  margin-left: 20px;
}
.follow-light{
  background-color: var(--dark-8);
}
.follow-dark{
  background-color: var(--dark-2);
}
.follow-title {
  font-size: 16px;
  margin: 10px;
  border-bottom: solid 2px var(--dark-4);
}
.follow-title-light {
  color: var(--black);
}
.follow-title-dark{
  color: var(--white);
}
.follow-profile{
  font-size: 14px;
  display: grid;
  height: 50px;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  border-bottom: solid 2px var(--dark-4);
}
.follow-img-profile {
  width: 40%;
  margin-left: 25px;
}
.follow-name-light{
  color: var(--black);
} 
.follow-name-dark{
  color: var(--white);
}
.follow-user-light{
  color: var(--dark-5);
} 
.follow-user-dark{
  color: var(--dark-6);
}

.buttonFollow {
  color: #1da1f2;
  border: solid 1px #1da1f2;
  border-radius: 20px;
  width: 85px;
  height: 30px;
}
.showMoreFollow {
  color: #1da1f2;
  margin-left: 20px;
  font-size: 13px;
}