.profile {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: 16px;
  margin-top: 100px;
  align-items: center;
}
.profile-img {
  width: 55px;
}
.profile-information-user {
  display: flex;
  flex-direction: column;
}
.profile-weight {
  font-weight: 600;
}
.profile-name-light {
  color: var(--dark);
}
.profile-name-dark {
  color: var(--white);
}
.profile-user-light {
  color: var(--dark-5);
}

.profile-user-dark {
  color: var(--dark-6);
}