@tailwind base;
@tailwind components;
@tailwind utilities;

//pallet global

:root{
--black: #0F1419;

--dark-1: #17202A;
--dark-2: #1C2733;
--dark-3: #283340;
--dark-4: #3A444C;
--dark-5: #5B7083;
--dark-6: #8899A6;
--dark-7: #EBEEF0;
--dark-8: #F7F9FA;

--primary-blue: #1DA1F2;

--white: #FFFFFF;
}


.divApp{
display: grid;
grid-template-columns: 1fr 3fr 2fr;
height: 80%;
}
.body{
  display: flex;
  flex-direction: column-reverse;
}
.footerTwitter{
  z-index: 1;
  position: absolute;
}
.divFeed{
display: flex;
flex-direction: column;
border: solid 1.5px #EBEEF0;
}
.TweetMain{
  height:600px;
  width: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 14px;
}
.TweetMain::-webkit-scrollbar {
  width: 0px;
}