@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  font-family: 'Poppins';
}
:root {
  
  --black: #0f1419;

  --dark-1: #17202a;
  --dark-2: #1c2733;
  --dark-3: #283340;
  --dark-4: #3a444c;
  --dark-5: #5b7083;
  --dark-6: #8899a6;
  --dark-7: #ebeef0;
  --dark-8: #f7f9fa;

  --primary-blue: #1da1f2;

  --white: #ffffff;
}

