.search-bar{
  display: flex;
  height: 35px;
  width: 70%;
  margin: 10px 0px 10px 30px;
  border-radius: 30px;
}
.search-bar-light{
  background: var(--dark-7)
} 
.search-bar-dark{
  background: var(--dark-3)
}

.search-input{
  outline: none;
}
.search-input-light{
  color: var(--dark-5);
  background: var(--dark-7);
}
.search-input-dark{
  color: var(--dark-6);
  background: var(--dark-3);
}