.header{
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1.5px var(--dark-7);
  font-weight: 600;
}
.header-light{
  color: var(--black);
}
.header-dark{
  color: var(--white);
}
.header-title{
  margin-left: 15px;
}
