.Post{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100px;
  width: 700px;
  margin-top: 10px;
  align-items: center;
}
.post-light{
  border-bottom: solid 1.5px var(--dark-7);
}
.post-dark{
  border-bottom: solid 1.5px var(--dark-4);
}
.imgAvatarFeed{
  width: 50px;
  margin-left: 10px;
}
.divPostProfile{
  display: flex;
}
.buttonsPost{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px 20px 70px;
}
.buttons-icons{
  display: flex;
  align-items: center;
}
#media-input{
  display: none;
}
.TextAreaPost{
  outline: none;
  resize: none;
  width: 600px;
  border: none;
}
.TextAreaPost::placeholder{
  font-family: 'Poppins';
}
.TextAreaPost-light{
  background-color: var(--white);
  color: var(--black);
}
.TextAreaPost-dark{
  background-color: var(--dark-1);
  color: var(--white);
}
button{
  border: none;
  background: none;
}
