.news-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 10px 20px;
  height: 400px;
}
.news-container-light {
  background: var(--dark-8);
}
.news-container-dark {
  background: var(--dark-2);
}
.news-title {
  font-weight: 600;
  font-size: 16px;
  padding: 8px;
}
.news-title-light {
  color: var(--black);
  border-bottom: solid 2px var(--dark-7);
}
.news-title-dark {
  color: var(--white);
  border-bottom: solid 2px var(--dark-4);
}
.new-text {
  margin: 5px;
}
.new-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding-right: 10px;
}
.new-container-light{
  border-bottom: solid 2px var(--dark-7);
}
.new-container-dark{
  border-bottom: solid 2px var(--dark-4);
}
.new-img {
  width: 300px;
  margin-top: 20px;
}
.grid {
  display: grid;
}

.news-text {
  font-size: 14px;
  font-weight: 600;
  width: 80%;
}
.news-text-dark {
  color: var(--white);
}
.news-text-light {
  color: var(--dark);
}
.flex {
  display: flex;
}
.news-font {
  font-size: 13px;
}
.news-color-dark {
  color: var(--dark-6);
}
.news-color-light {
  color: var(--dark-5);
}
.new-hastag{
  font-size: 13px;
  color: var(--primary-blue);
}
.news-show-more {
  color: var(--primary-blue);
  margin: 10px;
  font-weight: 600;
  font-size: 13px;
}